<div
	class="switchs">
	{# Dark & Light mode switch #}
	<label class="switch" id="mode-switch">
		<input type="checkbox" id="mode-switch-input"/>
		<span class="switch__slider switch__round switch__slider-mode  switch__slider-mode_background-color_black switch__slider-mode_background-color_white">
			<span></label>
			{# Font color switchs #}
			<label class="switch" id="blue-switch">
				<input type="checkbox" class="switch__input-color switch__input-font-color" id="blue-switch-input"/>
				<span class="switch__slider switch__round switch__slider-font-color switch__slider-font-color_background-color_black switch__slider-font-color_background-color_blue">
					<span></label>
					<label class="switch" id="green-switch">
						<input type="checkbox" class="switch__input-color switch__input-font-color" id="green-switch-input"/>
						<span class="switch__slider switch__round switch__slider-font-color switch__slider-font-color_background-color_black switch__slider-font-color_background-color_green">
							<span></label>
							<label class="switch" id="red-switch">
								<input type="checkbox" class="switch__input-color switch__input-font-color" id="red-switch-input"/>
								<span class="switch__slider switch__round switch__slider-font-color switch__slider-font-color_background-color_black switch__slider-font-color_background-color_red">
									<span></label>
									<label class="switch" id="orange-switch">
										<input type="checkbox" class="switch__input-color switch__input-font-color" id="orange-switch-input"/>
										<span class="switch__slider switch__round switch__slider-font-color switch__slider-font-color_background-color_black switch__slider-font-color_background-color_safety-orange">
											<span></label>
											<label class="switch" id="purple-switch">
												<input type="checkbox" class="switch__input-color switch__input-font-color" id="purple-switch-input"/>
												<span class="switch__slider switch__round switch__slider-font-color switch__slider-font-color_background-color_black switch__slider-font-color_background-color_purple">
													<span></label>
													<label class="switch" id="yellow-switch">
														<input type="checkbox" class="switch__input-color switch__input-font-color" id="yellow-switch-input"/>
														<span class="switch__slider switch__round switch__slider-font-color switch__slider-font-color_background-color_black switch__slider-font-color_background-color_yellow">
															<span></label>
															{# Theme switchs #}
															<label class="switch" id="knick-switch">
																<input type="checkbox" class="switch__input-color switch__input-theme" id="knick-switch-input"/>
																<span class="switch__slider switch__slider-knick switch__round  switch__slider-theme_background-color_blue-knick switch__slider-theme_background-color_safety-orange-knick">
																	<span></label>
																	<label class="switch" id="lakers-switch">
																		<input type="checkbox" class="switch__input-color switch__input-theme" id="lakers-switch-input"/>
																		<span class="switch__slider switch__slider-lakers switch__round  switch__slider-theme_background-color_purple-lakers switch__slider-theme_background-color_yellow-lakers">
																			<span></label>
																			<label class="switch" id="mario-switch">
																				<input type="checkbox" class="switch__input-color switch__input-theme" id="mario-switch-input"/>
																				<span class="switch__slider switch__slider-mario switch__round  switch__slider-theme_background-color_red-mario switch__slider-theme_background-color_blue-mario">
																					<span></label>
																					<label class="switch" id="jamaica-switch">
																						<input type="checkbox" class="switch__input-color switch__input-theme" id="jamaica-switch-input"/>
																						<span class="switch__slider switch__slider-jamaica switch__round switch__slider-theme_background-color_slimy-green-jamaica switch__slider-theme_background-color_yellow-jamaica">
																							<span></label>
																							<label class="switch" id="golden-state-warriors-switch">
																								<input type="checkbox" class="switch__input-color switch__input-theme" id="golden-state-warriors-switch-input"/>
																								<span class="switch__slider switch__slider-golden-state-warriors switch__round switch__slider-theme_background-color_yellow-golden-state-warriors switch__slider-theme_background-color_blue-golden-state-warriors">
																									<span></label>
																									<label class="switch" id="flash-switch">
																										<input type="checkbox" class="switch__input-color switch__input-theme" id="flash-switch-input"/>
																										<span class="switch__slider switch__slider-flash switch__round switch__slider-theme_background-color_red-flash switch__slider-theme_background-color_yellow-flash">
																											<span></label>
																											<label class="switch" id="forest-switch">
																												<input type="checkbox" class="switch__input-color switch__input-theme" id="forest-switch-input"/>
																												<span class="switch__slider switch__slider-forest switch__round switch__slider-theme_background-color_sepia switch__slider-theme_background-color_slimy-green-forest">
																													<span></label>
																												</div>
