{% extends 'base.html.twig' %}

{% block title %}
	CGU |
	{{ parent() }}
{% endblock %}

{# START : terms_of_use #}
{% block body %}
	<main>
		<section class="page">
			<h2>Conditions Générales d'Utilisation</h2>
			<div class="list">
				<div class="term">
					{# <h3>Informations</h3>
					<p>
						<a class="page__link page__link_text page__link_text_normal page__link_padding-and-margin_0 page__link_color_blue" href="https://elevenlead.com/" target="_blank">e-shop</a>
						est un projet réalisé par la société
						<a class="page__link page__link_text page__link_text_normal page__link_padding-and-margin_0 page__link_color_blue" href="https://elevenlead.com/" target="_blank">elevenLead</a>
					</p>
					<p>Ce projet est un prototype de site de e-commerce réalisé dans une démarche d'auto apprentissage avec pour souhait de partager un savoir-faire. Il ne s'agit pas d'une application de e-commerce ayant pour vocation d'être utilisé en tant que tel. De faite, lorsqu'une commande est effectuée, l'utilisateur ne sera pas convié à remplir un formulaire de paiement. La commande sera automatiquement confirmée et les items commandés ne seront ni facturés ni livrés.</p>
					<p>Par défaut l'application
						<a class="page__link page__link_text page__link_text_normal page__link_padding-and-margin_0 page__link_color_blue" href="https://elevenlead.com/" target="_blank">e-shop.fr</a>
						contient un jeu de fausses données, que les adeptes de DC Comics seront reconnaître, comportant :
						<ul>
							<li>
								16 Utilisateurs
							</li>
							<li>
								25 Adresses
							</li>
							<li>
								8 Catégories
							</li>
							<li>
								56 Produits
							</li>
							<li>
								2 Modes de Livraisons
							</li>
							<li>
								400 Commandes
							</li>
						</ul>
					</p> #}
					<h3>Article 1</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet alias nostrum, nulla dolorum similique molestiae magnam dicta eum ea expedita tenetur distinctio eius optio, commodi inventore sed aliquid aspernatur.</p>
					<h3>Article 2</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet alias nostrum, nulla dolorum similique molestiae magnam dicta eum ea expedita tenetur distinctio eius optio, commodi inventore sed aliquid aspernatur.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
					<h3>Article 3</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim explicabo voluptates numquam nobis commodi, itaque expedita fugiat quod dolores iste, corrupti architecto non doloribus amet quis fugit magni maiores? Cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate omnis voluptatum corporis nihil. Vel reprehenderit facilis aliquam praesentium delectus ducimus dolore impedit nemo laboriosam ipsam labore amet, esse molestias mollitia!</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
					<h3>Article 4</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque delectus quo minus magni temporibus rem accusamus dolore quas laborum labore amet reiciendis, optio tempore, recusandae nobis id quae suscipit ut.</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
					<h3>Article 5</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
					<h3>Article 6</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique tempora illum nam obcaecati laborum id at molestias molestiae quasi repudiandae minima saepe, explicabo iure, voluptates, cumque officia aliquid fugit corporis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius totam maxime incidunt quos necessitatibus unde quo repellat dignissimos voluptate cum vel explicabo, quod sed soluta ea in eveniet aliquam nemo.</p>

				</div>
			</div>
		</section>
	</main>
{% endblock %}
{# END : terms_of_use #}
