{% extends 'base.html.twig' %}

{% block title %}
	CGV |
	{{ parent() }}
{% endblock %}

{# START : terms_of_sales #}
{% block body %}
	<main>
		<section class="page">
			<h2>Conditions Générales de Vente</h2>
			<div class="list">
				<div class="term">
					<h3>Article 1</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque odio, vitae ipsum suscipit, similique, est accusamus sint nisi distinctio optio ullam laborum quaerat ea vel amet quod error nesciunt!</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet neque odio, vitae ipsum suscipit, similique, est accusamus sint nisi distinctio optio ullam laborum quaerat ea vel amet quod error nesciunt!</p>
					<h3>Article 2</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
{# END : terms_of_sales #}
