{% extends 'base.html.twig' %}

{% block title %}
	404 - Not Found |
	{{ parent() }}
{% endblock %}

{# START : 404 #}
{% block body %}
	<main>
		<section class="block-404">
			<p class="block-404__p-404 block-404__p-404_color_red">404</p>
			<p>Oups... La page que vous rechercher est introuvable.</p>
			<a class="page__link block-404__back-home-link" href="{{ path('home') }}">Retour à l'accueil</a>
		</section>
	</main>
{% endblock %}
{# END : 404 #}
